<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Soncoya - The Future of Cooking!</title>
		<link rel="stylesheet" href="master.css" type="text/css" >
	</head>
	<body>
		<div id="bodywrapper">
			<div id="header">
				<div id="logo">Soncoya</div>
				<div id="headertext">Sign In - Register</div>
			</div>
			<div id="recipelist">
				Placeholder :D
			</div>
		</div>
	</body>