<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Soncoya - The Future of Cooking!</title>
		<link rel="stylesheet" href="master.css" type="text/css">
		
		<script src="/nowjs/now.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script> 
		
		
		<script type = "text/javascript">
			$(document).ready(function() {
				now.appendRecipe = function (recipe) {
					
					/*
						<div id="recipe5000" class="recipeBox">
							<div class="recipeInfo">
								<div class="recipeTitle">Chicken Cordon Bleu</div>
								<div class="recipeEtc">By: Frederick Meyer | Price: $3 | Rating: 5/5</div>
							</div>
							<div class="recipeImg"><img src="http://placekitten.com/100/100"></div>
						</div>
						*/
					var div = $("#recipelistdiv");
					var recipeId = recipe.recipeId;
					div.append("<div id=\"recipe"+recipeId+"\" class=\"recipeBox\"></div>");
					var title = recipe.title;
					var author = recipe.submitter;
					var price = recipe.cost;
					var rating = recipe.rating;
					var newdiv = $("#recipe"+recipeId);
					var infodiv = $("<div>");
					var titlediv = $("<div>");
					var etcdiv = $("<div>");
					var imgdiv = $("<div>");
					infodiv.addClass("recipeInfo");
					titlediv.addClass("recipeTitle");
					etcdiv.addClass("recipeEtc");
					imgdiv.addClass("recipeImg");
					
					newdiv.append(infodiv);
					infodiv.append(titlediv);
					infodiv.append(etcdiv);
					newdiv.append(imgdiv);
					
					titlediv.append(title);
					etcdiv.append("By: " + author + " | Price: $" + price + " | Rating: " + rating + "/5");
					imgdiv.append("<img src='http://placekitten.com/100/100'></div>");
					div.animate({ scrollTop: div.attr("scrollHeight") }, 500);		
				};
				
				now.refreshRecipeList = function() {
					
				};
				now.ready(function() {
					hideDivs();
				});
				
				var recipe = { recipeId: 1, title: 'Fried Rice', submitter: 'Kevin Hwang', cost: .50, rating: 9001};
				now.appendRecipe(recipe);
				
				hideDivs = function() {
					$('#logindiv').slideUp(200);
					$('#registerdiv').slideUp(200);
				}
				
				displaySignIn = function() {
					$('#registerdiv').slideUp(200);
					$('#logindiv').slideToggle(200);
				}
				displayRegister = function() {
					$('#logindiv').slideUp(200);
					$('#registerdiv').slideToggle(200);
				}
			});
		</script>
	</head>
	<body>
		<div id="bodywrapper">
			<div id="header">
				<div id="logo">Soncoya</div>
				<div id="headertext"><a href="#" onclick="displaySignIn();">Sign In</a> - <a href="#" onclick="displayRegister();">Register</a></div>
			</div>
			
			<div id="logindiv">
				<form name="loginform" action="/login" method="post">
					Username: <input type="text" id="uname" name="uname" placeholder="Rainbow Dash"/><br>
					Password: <input type="password" id="pwd" name="pwd" /></br>
					<input type="button" id="loginsubmit" value="Login!"/>
				</form>
			</div>
			
			<div id="registerdiv">
				<form name="registerform" action="/register" method="post">
					Username: <input type="text" id="unamereg" name="uname" placeholder="Rainbow Dash"/></br>
					Password: <input type="password" id="pwdreg" name="pwd"/></br>
					<input type="button" id="registersubmit" value="Register!"/>
				</form>
			</div>
			
			
			
			<div id="recipelistdiv">
				<div id="recipe5000" class="recipeBox">
					<div class="recipeInfo">
						<div class="recipeTitle">Chicken Cordon Bleu</div>
						<div class="recipeEtc">By: Frederick Meyer | Price: $3 | Rating: 5/5</div>
					</div>
					<div class="recipeImg"><img src="http://placekitten.com/100/100"></div>
				</div>
				
				<div id="recipe9001" class="recipeBox">
					<div class="recipeInfo">
						<div class="recipeTitle">Muffins</div>
						<div class="recipeEtc">By: Pinkie Pie | Price $2.25 | Rating: 6/5</div>
					</div>
					<div class="recipeImg"><img src="http://placekitten.com/100/100"></div>
				</div>
			
			</div>
		</div>
	</body>